h6 {
    display:inline-block; 
    border-width: 1px; 
    border-style: solid;
    border-radius: 1rem; 
    width: 150px; 
    text-align: center;
    margin: 0;
}

.ticket-desc{
    display:inline-block; 
    border-width: 1px; 
    border-style: solid;
    border-radius: 1rem; 
    text-align: left;
    width: 508px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-modal{
    display:inline-block; 
    border-width: 1px; 
    border-style: solid;
    border-radius: 1rem; 
    width: 150px; 
    text-align: center;
    margin: 0;
    border-color: blue;
    color: blue;
}

.approve-button{
    display:inline-block; 
    border-width: 1px; 
    border-style: solid;
    border-radius: 2rem; 
    width: 150px; 
    text-align: center;
    margin: 0;
    border-color: limegreen;
    color: limegreen;
}

.deny-button{
    display:inline-block; 
    border-width: 1px; 
    border-style: solid;
    border-radius: 2rem; 
    width: 150px;
    text-align: center;
    margin: 0;
    border-color: rgb(253, 45, 45);
    color: rgb(253, 45, 45);
}

/* .ticket-body{
    text-align: right;
    display:inline-flex;
    width:100%;
    border-radius: 2rem;
} */

.less-opaque{
    opacity: .7;
}

.ticket-card-head{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2rem;
}

.ticket-card-head:hover{
    background: rgba(241, 236, 236, 0.7);
    cursor: pointer;
}

.ticket-card-head:active{
    background: rgba(141, 189, 219, 0.7);
}

.ticket-card-head:focus{
    background-color: rgba(174, 209, 231, 0.7)
}

.ticket-box{
    background-color: rgba(255, 255, 255, .6);
    max-width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}