<section id=ticketview>
    <div class="card" *ngFor="let ticket of tickets">
        <div *ngIf="ticket.status=='Pending'">
        <h5 class="card-header">{{ticket.submitted}} Status: {{ticket.status}} Type: {{ticket.type}} Amount:
            ${{ticket.amount}}</h5>
        <div class="card-body">
            <p class="card-text">{{ticket.description}}</p>
        </div>
    </div>
</div>
</section>


<section id=ticketview>
    <div class="card" *ngFor="let ticket of tickets">
            <div *ngIf="ticket.status=='Approved'">
        <h5 class="card-header">{{ticket.submitted}} Status: {{ticket.status}} Type: {{ticket.type}} Amount:
            ${{ticket.amount}}</h5>
        <div class="card-body">
            <p class="card-text">{{ticket.description}}</p>
        </div>
    </div>
</div>
</section>

<section id=ticketview>
        <div class="card" *ngFor="let ticket of tickets">
                <div *ngIf="ticket.status=='Denied'">
            <h5 class="card-header">{{ticket.submitted}} Status: {{ticket.status}} Type: {{ticket.type}} Amount:
                ${{ticket.amount}}</h5>
            <div class="card-body">
                <p class="card-text">{{ticket.description}}</p>
            </div>
        </div>
    </div>
    </section>