header {
    height: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Rye';
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 20px 8px 10px 8px; 
    color: rgb(3, 33, 66);
}

nav {
    height: 30px;
}

hr {
    width: 80%;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    width: 70%;
    margin: 0 auto;
}

li {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.bevelBox{
    background: #666666;
    border: 1px solid #000000;    
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    background-color: rgba(0, 255, 255, 0.2);
    margin:auto;
    width: 60%;
    height: 8rem;
    border-radius: 1rem;
}